body{
    background-color:burlywood;
}
header{
        display: flex;
        margin-bottom: 30px;
        margin-left: 15px;
}
img{ 
    border-radius: 360px;
    margin:20px 0 30px 60px;
    width: 250px;
}
h1{
    font-size: 40px;
    font-weight: bold;
}

.cabecalho{ 
    margin:auto;
    display: inline;
}

.cabecalho-lista{
    display: flex; 
}
.cabecalho-lista li{
    margin: 20px;
}
.cabecalho-lista a{
    text-transform: uppercase;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;   
}
.sobre-mim{ 
    margin-top:20px;    
}
.sobre-mim p{
    margin: 0px 300px;
}

.subtitulo{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin-bottom: 10px;
}
.skills{
    margin: 20px;
}

.skills li{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.contatos{ 
    margin: 30px 0;

}
.contatos-titulo{
    font-size: 30px;
    display: flex;
    justify-content: space-around;

}
.contatos li{
    display: flex;
    justify-content: space-around; 
    margin: 10px 0;

}
.rodape{
    background-color: dimgray;
}
.rodape img{
    width: 100px;
}