body{
    background-color:burlywood;
    font-family: 'Montserrat', sans-serif;
}
header{
        display: flex;
        margin-bottom: 30px;
        margin-left: 15px;
        justify-content: space-around;
}
#minha-foto{ 
    border-radius: 50%;
    margin:20px 0px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
h1{
    font-size: 40px;
    font-weight: bold;
}

.cabecalho{ 
    align-self: center;
}

.cabecalho-lista ul{
    display: flex; 
}
.cabecalho-lista li{
    margin: 20px;
}
.cabecalho-lista a{
    text-transform: uppercase;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;   
}
.sobre-mim{ 
    margin-top:20px;    
}
.sobre-mim p{
    margin: 0px 100px;
}

.subtitulo{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin-bottom: 10px;
}
.skills{
    margin: 20px;
}

.skills li{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.contatos{ 
    margin: 30px 0;

}
.contatos-titulo{
    font-size: 30px;
    display: flex;
    justify-content: space-around;

}
.contatos li{
    display: flex;
    justify-content: space-around; 
    margin: 10px 0;

}
.rodape{
    background-color: dimgray;
    height: 100px;
    
    
}
.midia-social{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.midia-social img{
    width: 40px;
}
@media screen and (max-width: 820px){

    header{
        display: flex;
        flex-direction:column  ;
    }
    img{
        align-self: center;

    }
    .sobre-mim p{
        margin: 30px;
    }
}